aside {
  display: block;
}

.sidebar {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #394a59;
    &-menu {
      margin: 60px 0 0;
      list-style-type: none;
      padding: 0;
      li {
        line-height: 20px;
        a {
          color: #d0d8df;
          text-decoration: none;
          display: block;
          padding: 15px 0 15px 10px;
          font-size: 16px;
          font-weight: 300;
          outline: none;
          transition: all 0.3s ease;
          border-right: 1px solid #D7D7D7;
          border-bottom: 1px solid #D7D7D7;
          &:hover,
          &:focus {
            background: #2e3b46;
            color: #fff;
            display: block;
            transition: all 0.3s ease;
          }
        }
        &.active {
          a {
            background: #2e3b46;
            color: #fff;
            display: block;
            transition: all 0.3s ease;
          }
        }
      }
    }
}
